
  body {
	font-size:16px;
	font-family:  "ＭＳ Ｐゴシック", "MS PGothic";
	min-width:1000px;
	margin: 0 auto;
	position: relative;
    background: #e2e7ec;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position: center top;
	background-color: #ffedf2;
	color: #441d0e;

}
A {
    text-decoration: none; 
    color:#FFFFFF
   } 
.main {
    display: grid;
    margin: 0 auto;
    height: 40px;
    background: rgba(255,120,155,0.85);
    border-radius: 10px;
    text-shadow: -1.5px -1.5px #ff6399, 1.5px -1.5px #ff6399, -1.5px 1.5px #ff6399, 1.5px 1.5px #ff6399, 0 0 6px #ff6399;
    box-shadow: 0 0 6px 3px rgb(255 159 171 / 40%);
}
.cube {
    margin: 2% 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 426px);
    grid-gap: 20px;
    margin: 0 auto;
    justify-content: center;

}
.fcube {
    height: 500px;
    width: 426px;
    background: rgba(255,120,155,0.85);
    margin: 0 0;
}
.panel {
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
}
.wf {
    display: grid;
}
.s {
    margin: 2% 30%;
   
}

.shtml {
    display: grid;
    margin: 1% 15%;
    border-left: solid black 5px;
    border-right: solid black 5px;
    justify-content: center;
    background: rgba(255,120,155,0.85);
    text-shadow: -1.5px -1.5px #ff6399, 1.5px -1.5px #ff6399, -1.5px 1.5px #ff6399, 1.5px 1.5px #ff6399, 0 0 6px #ff6399;

}
.itemtext {
    padding: 24px;
}
.texts {
   color: rgba(255,120,155,0.85);
}
.texthead {
    color: rgba(255,120,155,0.85);
}
@media (max-width: 1023px) {
    body {
        padding: 0;
    }
}