body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 30px;
    background-color: #f0f0f086;
}

.container {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3c32bbe1;
}

.buttonspecial {
    margin-bottom: 15px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttonspecial:hover {
    background-color: #3c32bbe1;
}


.visibles {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.visibles.visible {
    opacity: 1;
}

.visiblesimage {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    width: 500px;
    cursor: pointer;
}

.visiblesimage.visible {
    opacity: 1;
}
.image {
    width: 500px;
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    .image {
        width: 250px;
    }
    .visiblesimage {
        width: 250px;
    }
}